@(documentMap : models.QueryResults)

    <h2 class="sub-header">Results</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Document</th>
              </tr>
            </thead>

            <tbody>
                @for(document <- documentMap.the_docs) {
                    <tr>
                        <td>
                            <p>ID: @document.id</p>
                            <p>Started: @document.started_at</p>
                            <p>Ended: @document.ended_at</p>
                            <p>Observation: @document.observation</p>
                            <p>Deployment: @document.deployment</p>
                            <p>Platform Label: @document.platform_label</p>
                            <p>Secured: @document.secured</p>
                            <p>Number of Measurements: @document.nr_measurements</p>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>


